* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

body {
  background-color: rgb(249, 208, 98);
  font-family: Arial;
  font-size: 20px;
  padding: 50px;
}

h1 {
  font-size: 40px;
  padding-bottom: 25px;
}

h2 {
  margin-bottom: 20px;
  text-align: center;
}

.first {
  color: rgb(245, 56, 56);
}

#Enter-Your-name {
  background-color: rgb(231, 205, 57);
  border: 3px solid #444;
  width: 400px;
  padding: 25px;
  margin-top: 30px;
}

input,
button {
  padding: 10px;
  font-size: 15px;
}

a {
  background-color: rgb(231, 234, 45);
}

#Enter-Your-name h2 {
  color: rgba(22, 5, 5, 0.962);
}
